/* eslint-disable */
<template>
  <a-button
    type="link"
    @click="redirect"
    :style="{
      margin: '2px 2px',
      position: 'absolute',
      top: '0',
      right: '0',
    }"
  >
    Back to list
  </a-button>
  <h1>{{ post.title }}</h1>
  <h3>{{ post.body }}</h3>
  <h2>Comments:</h2>
  <a-list size="large" bordered :data-source="comment">
    <template #renderItem="{ item }">
      <a-list-item>
        {{ item.name }}
        <a-list-item-meta :description="item.email"></a-list-item-meta>
        {{ item.body }}
      </a-list-item>
    </template>
  </a-list>

  <!-- <a-list size="large" bordered :data-source="comment">
      <a-list-item v-for="commentPost in comment" :key="commentPost.id">
        {{ commentPost.name }}
        {{ commentPost.email }}
        {{ commentPost.body }}
      </a-list-item>
    </a-list> -->
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";
import { computed, onMounted } from "vue";
import { useStore } from "@/store";
import { ActionType } from "../store/action";
import { useRoute } from "vue-router";
import router from "@/router";

export default defineComponent({
  name: "PostDeatails",
  setup() {
    const route = useRoute();
    const store = useStore();
    const post = computed(() => {
      // console.log(store.state.posts);
      return store.state.currentPost;
    });
    const redirect = () => {
      router.push({ name: "PostList" });
    };

    const comment = computed(() => {
      return store.state.currentPostComments;
    });
    onMounted(() => {
      console.log(route.params.id);
      store.dispatch(
        ActionType.GetPostById,
        parseInt(route.params.id as string)
      );

      store.dispatch(
        ActionType.GetPostComments,
        parseInt(route.params.id as string)
      );
    });

    return { post, comment, redirect };
  },
});
</script>
