<template>
  <a-button
    type="link"
    @click="redirect"
    :style="{
      margin: '2px 2px',
      position: 'absolute',
      top: '0',
      right: '0',
    }"
  >
    Back to list
  </a-button>
  <h1>New Post</h1>
  <a-form
    ref="formRef"
    :model="formState"
    :label-col="{ span: 5 }"
    :wrapper-col="{ span: 12 }"
    @finish="handleFinish"
  >
    <a-form-item
      ref="title"
      label="Title"
      name="title"
      :rules="{
        required: true,
        message: `Please input title`,
        trigger: `blur`,
      }"
    >
      <a-input v-model:value="formState.title" />
    </a-form-item>
    <a-form-item
      ref="description"
      label="Description"
      name="description"
      :rules="{
        required: true,
        message: `Please input description`,
        trigger: `blur`,
      }"
    >
      <a-input v-model:value="formState.description" />
    </a-form-item>
    <a-button type="primary" html-type="submit"> Submit </a-button>
    <div v-if="isLoading">
      <a-spin tip="Loading..."> </a-spin>
    </div>
  </a-form>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";
import { Post } from "../store/state";
import router from "@/router";
import { reactive, ref, UnwrapRef } from "vue";
import axios from "axios";

interface FormState {
  title: string;
  description: string;
}

export default defineComponent({
  name: "PostCreate",
  setup() {
    const formRef = ref();
    const formState: UnwrapRef<FormState> = reactive({
      title: "",
      description: "",
    });
    const isLoading = ref(false);

    let postId = 101;

    const redirect = () => {
      router.push({ name: "PostList" });
    };

    const handleFinish = () => {
      let post: Post = {
        title: formState.title,
        description: formState.description,
        userId: 1,
        id: postId,
      };
      axios
        .post("https://jsonplaceholder.typicode.com/posts", post)
        .then((response) => {
          if (response.status === 201) {
            isLoading.value = true;
            setTimeout(function () {
              redirect();
            }, 1000);
          }
        });
      postId++;
      isLoading.value = false;
    };

    return { formRef, formState, redirect, handleFinish, isLoading };
  },
});
</script>
