<template>
  <h2>Posts</h2>
  <a-button
    @click="addPost"
    :style="{
      margin: '2px 2px',
      position: 'absolute',
      top: '0',
      right: '0',
    }"
    >Add</a-button
  >
  <a-list size="large" bordered :pagination="pagination" :data-source="posts">
    <template #renderItem="{ item }">
      <a-list-item @click="redirect(item.id)">{{ item.title }}</a-list-item>
    </template>
  </a-list>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";
import { computed, onMounted } from "vue";
import { ActionType } from "../store/action";
import { useStore } from "../store/index";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "PostList",
  setup() {
    const store = useStore();
    const router = useRouter();
    const redirect = (postId: number) => {
      router.push({ name: "PostDetails", params: { id: postId } });
    };
    const addPost = () => {
      router.push({ name: "PostCreate" });
    };
    const posts = computed(() => {
      // console.log(store.state.posts);
      return store.state.posts;
    });
    console.log(posts);

    const pagination = {
      onChange: (page: number) => {
        console.log(page);
      },
      pageSize: 10,
    };
    onMounted(() => {
      store.dispatch(ActionType.GetPost);
    });

    return { posts, redirect, addPost, pagination };
  },
});
</script>

<style scoped></style>
